:root {
    --primary: #1E88E5;
    /* azul principal */
    --secondary: #0A233C;
    /* azul marinho para fundo ou sidebar */
    --gray-light: #E3E6E9;
    /* cinza claro de bordas */
    --background: #F5F7FA;
    /* fundo geral */
    --red: #EF4444;
    /* erros / gravação ativa */
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: var(--background);
    color: #333;
}

html,
body,
#root {
    height: 100%;
}