.sidebar {
  width: 220px;
  height: auto;
  background: var(--secondary);
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 20px;
  flex-shrink: 0;
}

.logo {
  font-size: 1.5rem;
  font-weight: 700;
  /* margin-bottom: 0.5rem; */
  text-align: center;
}

.subtitle {
  font-size: 0.7rem;
  color: #aaa;
  margin-bottom: 1.5rem;
  text-align: center;
}

.separator {
  height: 1px;
  background: rgba(255, 255, 255, 0.2);
  margin: 10px 0 20px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
  /* espaçamento entre os itens */
}

.link {
  display: flex;
  align-items: center;
  gap: 14px;
  /* mais espaço entre ícone e texto */
  text-decoration: none;
  color: #ddd;
  font-weight: 500;
  padding: 14px 16px;
  /* aumentei o padding interno */
  border-radius: 8px;
  /* cantos mais suaves */
  font-size: 0.95rem;
  /* levemente maior */
  transition: background 0.2s, color 0.2s, transform 0.2s;
}

.link:hover {
  background: rgba(255, 255, 255, 0.12);
  color: #fff;
  transform: translateX(4px);
  /* efeito sutil ao passar o mouse */
}

.icon {
  font-size: 20px;
  /* ícones um pouco maiores */
}

.logoutBtn {
  display: flex;
  align-items: center;
  gap: 12px;
  background: transparent;
  border: none;
  color: #ddd;
  font-weight: 500;
  padding: 14px 16px;
  border-radius: 8px;
  font-size: 0.95rem;
  cursor: pointer;
  transition: background 0.2s, color 0.2s, transform 0.2s;
}

.logoutBtn:hover {
  background: rgba(255, 255, 255, 0.12);
  color: #fff;
  transform: translateX(4px);
}


/* Ativo */
.active {
  background: var(--primary);
  color: white !important;
  font-weight: 600;
}

.nav {
  flex: 1;
}